# DengAI: Predicting Disease Spread
Your goal is to predict the total_cases label for each (city, year, weekofyear) in the test set. There are two cities, San Juan and Iquitos, with test data for each city spanning 5 and 3 years respectively. 

The data for each city have been concatenated along with a city column indicating the source: sj for San Juan and iq for Iquitos. The test set is a pure future hold-out, meaning the test data are sequential and non-overlapping with any of the training data.

In [5]:
import pandas as pd
import numpy as np

In [6]:
train = pd.read_csv("C:/Users/RAA090/Documents/Personal/data_sets/DengAI Predicting Disease Spread/dengue_features_train.csv")
train_label = pd.read_csv("C:/Users/RAA090/Documents/Personal/data_sets/DengAI Predicting Disease Spread/dengue_labels_train.csv")
test = pd.read_csv("C:/Users/RAA090/Documents/Personal/data_sets/DengAI Predicting Disease Spread/dengue_features_test.csv")

In [8]:
train.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [11]:
train.shape

(1456, 24)

In [9]:
train_label.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [12]:
train_label.shape

(1456, 4)

In [10]:
test.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [14]:
test.shape

(416, 24)

In [23]:
exclude = ["year","weekofyear","week_start_date"]

In [31]:
all_feature = [x for x in train.columns if x  not in exclude ]

In [32]:
all_feature

['city',
 'ndvi_ne',
 'ndvi_nw',
 'ndvi_se',
 'ndvi_sw',
 'precipitation_amt_mm',
 'reanalysis_air_temp_k',
 'reanalysis_avg_temp_k',
 'reanalysis_dew_point_temp_k',
 'reanalysis_max_air_temp_k',
 'reanalysis_min_air_temp_k',
 'reanalysis_precip_amt_kg_per_m2',
 'reanalysis_relative_humidity_percent',
 'reanalysis_sat_precip_amt_mm',
 'reanalysis_specific_humidity_g_per_kg',
 'reanalysis_tdtr_k',
 'station_avg_temp_c',
 'station_diur_temp_rng_c',
 'station_max_temp_c',
 'station_min_temp_c',
 'station_precip_mm']

In [35]:
# summary of data
train[all_feature].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ndvi_ne,1262.0,0.142294,0.140531,-0.406250,0.044950,0.128817,0.248483,0.508357
ndvi_nw,1404.0,0.130553,0.119999,-0.456100,0.049217,0.121429,0.216600,0.454429
ndvi_se,1434.0,0.203783,0.073860,-0.015533,0.155087,0.196050,0.248846,0.538314
ndvi_sw,1434.0,0.202305,0.083903,-0.063457,0.144209,0.189450,0.246982,0.546017
precipitation_amt_mm,1443.0,45.760388,43.715537,0.000000,9.800000,38.340000,70.235000,390.600000
reanalysis_air_temp_k,1446.0,298.701852,1.362420,294.635714,297.658929,298.646429,299.833571,302.200000
reanalysis_avg_temp_k,1446.0,299.225578,1.261715,294.892857,298.257143,299.289286,300.207143,302.928571
reanalysis_dew_point_temp_k,1446.0,295.246356,1.527810,289.642857,294.118929,295.640714,296.460000,298.450000
reanalysis_max_air_temp_k,1446.0,303.427109,3.234601,297.800000,301.000000,302.400000,305.500000,314.000000
reanalysis_min_air_temp_k,1446.0,295.719156,2.565364,286.900000,293.900000,296.200000,297.900000,299.900000
reanalysis_precip_amt_kg_per_m2,1446.0,40.151819,43.434399,0.000000,13.055000,27.245000,52.200000,570.500000
reanalysis_relative_humidity_percent,1446.0,82.161959,7.153897,57.787143,77.177143,80.301429,86.357857,98.610000
reanalysis_sat_precip_amt_mm,1443.0,45.760388,43.715537,0.000000,9.800000,38.340000,70.235000,390.600000
reanalysis_specific_humidity_g_per_kg,1446.0,16.746427,1.542494,11.715714,15.557143,17.087143,17.978214,20.461429
reanalysis_tdtr_k,1446.0,4.903754,3.546445,1.357143,2.328571,2.857143,7.625000,16.028571
station_avg_temp_c,1413.0,27.185783,1.292347,21.400000,26.300000,27.414286,28.157143,30.800000
station_diur_temp_rng_c,1413.0,8.059328,2.128568,4.528571,6.514286,7.300000,9.566667,15.800000
station_max_temp_c,1436.0,32.452437,1.959318,26.700000,31.100000,32.800000,33.900000,42.200000
station_min_temp_c,1442.0,22.102150,1.574066,14.700000,21.100000,22.200000,23.300000,25.600000
station_precip_mm,1434.0,39.326360,47.455314,0.000000,8.700000,23.850000,53.900000,543.300000

## Missing values analysis and treatment

In [43]:
# percentage missing values in a variable
(np.sum(train.isnull(),axis=0)/train.shape[0] * 100).round()

city                                      0.0
year                                      0.0
weekofyear                                0.0
week_start_date                           0.0
ndvi_ne                                  13.0
ndvi_nw                                   4.0
ndvi_se                                   2.0
ndvi_sw                                   2.0
precipitation_amt_mm                      1.0
reanalysis_air_temp_k                     1.0
reanalysis_avg_temp_k                     1.0
reanalysis_dew_point_temp_k               1.0
reanalysis_max_air_temp_k                 1.0
reanalysis_min_air_temp_k                 1.0
reanalysis_precip_amt_kg_per_m2           1.0
reanalysis_relative_humidity_percent      1.0
reanalysis_sat_precip_amt_mm              1.0
reanalysis_specific_humidity_g_per_kg     1.0
reanalysis_tdtr_k                         1.0
station_avg_temp_c                        3.0
station_diur_temp_rng_c                   3.0
station_max_temp_c                        1.0
station_min_temp_c                        1.0
station_precip_mm                         2.0
dtype: float64